<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>{% block title %}Family Display{% endblock %}</title>
  <link rel="stylesheet" href="/static/vendor/gridstack/gridstack.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
  {% block head %}{% endblock %}
</head>
<body>
  {% block content %}{% endblock %}

  <script src="/static/vendor/htmx/htmx.min.js"></script>
  <script src="/static/vendor/alpine/alpine.min.js" defer></script>
  {% block scripts %}{% endblock %}
</body>
</html>
